In [1]:
import pandas as pd

# Suicide Rates Dataset

Suicide rate: 
Age-standardized suicide rates (per 100 000 population)

In [2]:
suicides = pd.read_csv('suicide_core.csv').iloc[1:,0:3]

In [3]:
suicides.columns = ['country','sex','suicide_rate']

In [4]:
female_suicides = suicides[suicides.sex == 'Female'][['country','suicide_rate']]

In [5]:
len(female_suicides)

183

In [6]:
female_suicides.head()

                country  suicide_rate
3           Afghanistan           3.1
6               Albania           2.4
9               Algeria           1.3
12               Angola          14.3
15  Antigua and Barbuda           0.0

# Drinks

In [7]:
drinks = pd.read_csv('drinks.csv')

In [8]:
drinks_total = drinks[['country','total_litres_of_pure_alcohol']]

In [9]:
len(drinks_total)

193

In [10]:
drinks_total.head()

       country  total_litres_of_pure_alcohol
0  Afghanistan                           0.0
1      Albania                           4.9
2      Algeria                           0.7
3      Andorra                          12.4
4       Angola                           5.9

# GDI

In [11]:
gdi = pd.read_excel('GDI.xlsx')

In [13]:
gdi.columns

Index(['HDI rank', 'Country', 'GDI Value(2015)', 'GDI Group(2015)',
       'HDI Female(2015)', 'Expected schooling years Female(2015)',
       'Estimated GNI per capita -Female(2015)'],
      dtype='object')

In [15]:
gdi_selection = gdi[['Country', 'GDI Value(2015)', 'HDI Female(2015)', 'Expected schooling years Female(2015)',
    'Estimated GNI per capita -Female(2015)']]

In [16]:
gdi_selection.columns = ['country','gdi', 'hdi', 'schooling_years','gni']

In [17]:
gdi_selection.head()

       country    gdi    hdi schooling_years    gni
0       Norway  0.993  0.944            18.3  59800
1    Australia  0.978  0.927            20.9  34271
2  Switzerland  0.974  0.926              16  46798
3      Germany  0.964  0.908            16.9  35878
4      Denmark   0.97   0.91              20  36857

# Poverty

In [68]:
poverty = pd.read_excel('poverty.xlsx')
poverty

     HDI Rank (2015)                                     Country   2014
0                169                                 Afghanistan  0.293
1                 75                                     Albania    NaN
2                 45                                   Argentina    NaN
3                 84                                     Armenia    NaN
4                 78                                  Azerbaijan    NaN
5                139                                  Bangladesh  0.188
6                 54                                    Barbados  0.004
7                 52                                     Belarus    NaN
8                103                                      Belize    NaN
9                167                                       Benin  0.343
10               132                                      Bhutan    NaN
11               118            Bolivia (Plurinational State of)    NaN
12                81                      Bosnia and Herzegovina  0.006
13                79                                      Brazil  0.010
14               185                                Burkina Faso    NaN
15               184                                     Burundi    NaN
16               143                                    Cambodia  0.150
17               153                                    Cameroon  0.260
18               188                    Central African Republic    NaN
19               186                                        Chad    NaN
20                90                                       China  0.023
21                95                                    Colombia    NaN
22               160                                     Comoros  0.165
23               135                                       Congo  0.192
24               176          Congo (Democratic Republic of the)  0.369
25               171                               Côte d'Ivoire    NaN
26               172                                    Djibouti    NaN
27                99                          Dominican Republic  0.025
28                89                                     Ecuador  0.015
29               111                                       Egypt  0.016
..               ...                                         ...    ...
72               159                                      Rwanda  0.254
73                92                                 Saint Lucia  0.003
74               142                       Sao Tome and Principe    NaN
75               162                                     Senegal  0.278
76                66                                      Serbia  0.002
77               179                                Sierra Leone  0.411
78                 0                                     Somalia    NaN
79               119                                South Africa  0.041
80               181                                 South Sudan    NaN
81               165                                       Sudan    NaN
82                97                                    Suriname    NaN
83               148                                   Swaziland    NaN
84               149                        Syrian Arab Republic    NaN
85               129                                  Tajikistan  0.031
86               151               Tanzania (United Republic of)    NaN
87                87                                    Thailand    NaN
88                82   The former Yugoslav Republic of Macedonia  0.007
89               133                                 Timor-Leste    NaN
90               166                                        Togo  0.242
91                65                         Trinidad and Tobago    NaN
92                97                                     Tunisia  0.006
93               111                                Turkmenistan    NaN
94               163                                      Uganda  0.359
95                84                                     Ukraine  0.001
96               105                                  Uzbekistan    NaN
97               134                                     Vanuatu    NaN
98               115                                    Viet Nam  0.016
99               168                                       Yemen  0.200
100              139                                      Zambia  0.264
101              154                                    Zimbabwe  0.128

[102 rows x 3 columns]

# Happiness

Life satisfaction is measured on a scale from 0 to 10 (0 - worst, 10 - best).

In [66]:
happiness = pd.read_csv('gdp-vs-happiness.csv')
happiness.columns

Index(['Entity', 'Code', 'Year',
       ' Life satisfaction (country average; 0-10) (Cantril Ladder (0=worst; 10=best))'],
      dtype='object')

In [60]:
happniess_selection = happiness[happiness.Year==2015][['Entity', ' Life satisfaction (country average; 0-10) (Cantril Ladder (0=worst; 10=best))']]
happniess_selection.columns = ['country','satisfaction_index']

In [62]:
happniess_selection[happniess_selection.satisfaction_index.notnull()].head()

          country  satisfaction_index
69    Afghanistan            3.982855
175       Albania            4.606651
747     Argentina            6.697131
816       Armenia            4.348320
1081    Australia            7.309061

In [ ]:
Rationale for missing values. Values are missing only for the poor, undeveloped countires. Examples of them are t

In [56]:
happniess_selection[happniess_selection.satisfaction_index.isnull()] = 3.5

In [57]:
happniess_selection[happniess_selection.satisfaction_index.notnull()].satisfaction_index.mean()

4.648849074869198