In [1]:
import pandas as pd

# Suicide Rates Dataset

Suicide rate: 
Age-standardized suicide rates (per 100 000 population)

In [2]:
suicides = pd.read_csv('suicide_core.csv').iloc[1:,0:3]

In [3]:
suicides.columns = ['country','sex','suicide_rate']

In [4]:
female_suicides = suicides[suicides.sex == 'Female'][['country','suicide_rate']]

In [5]:
len(female_suicides)

183

In [6]:
female_suicides.head()

                country  suicide_rate
3           Afghanistan           3.1
6               Albania           2.4
9               Algeria           1.3
12               Angola          14.3
15  Antigua and Barbuda           0.0

# Drinks

In [7]:
drinks = pd.read_csv('drinks.csv')

In [8]:
drinks_total = drinks[['country','total_litres_of_pure_alcohol']]

In [9]:
len(drinks_total)

193

In [10]:
drinks_total.head()

       country  total_litres_of_pure_alcohol
0  Afghanistan                           0.0
1      Albania                           4.9
2      Algeria                           0.7
3      Andorra                          12.4
4       Angola                           5.9

# GDI

In [11]:
gdi = pd.read_excel('GDI.xlsx')

In [13]:
gdi.columns

Index(['HDI rank', 'Country', 'GDI Value(2015)', 'GDI Group(2015)',
       'HDI Female(2015)', 'Expected schooling years Female(2015)',
       'Estimated GNI per capita -Female(2015)'],
      dtype='object')

In [15]:
gdi_selection = gdi[['Country', 'GDI Value(2015)', 'HDI Female(2015)', 'Expected schooling years Female(2015)',
    'Estimated GNI per capita -Female(2015)']]

In [16]:
gdi_selection.columns = ['country','gdi', 'hdi', 'schooling_years','gni']

In [17]:
gdi_selection.head()

       country    gdi    hdi schooling_years    gni
0       Norway  0.993  0.944            18.3  59800
1    Australia  0.978  0.927            20.9  34271
2  Switzerland  0.974  0.926              16  46798
3      Germany  0.964  0.908            16.9  35878
4      Denmark   0.97   0.91              20  36857

# Poverty

For poverty data sets we took the most recent years and imputed the data for 2014 from the years 2011-2013. For those that don't have any values for any years, we took the column average. 
TODO: add rationale (i.e. the remaining countires intuitively are good fit for the mean)

In [107]:
poverty = pd.read_excel('poverty.xlsx')
poverty_selection = poverty[['Country', 2014]]
poverty_selection.columns = ['country', 'poverty_index']
poor_countries = poverty_selection['country']
means = poverty_selection["poverty_index"].fillna(poverty_selection["poverty_index"].mean())
poverty_selection = poverty_selection.assign(poverty_index = means)
poverty_selection.head()

        country  poverty_index
0   Afghanistan       0.293000
1       Albania       0.156609
2     Argentina       0.156609
3       Armenia       0.156609
4    Azerbaijan       0.156609

# Happiness

Life satisfaction is measured on a scale from 0 to 10 (0 - worst, 10 - best).

In [108]:
happiness = pd.read_csv('gdp-vs-happiness.csv')
happiness.columns

Index(['Entity', 'Code', 'Year',
       ' Life satisfaction (country average; 0-10) (Cantril Ladder (0=worst; 10=best))'],
      dtype='object')

In [109]:
happniess_selection = happiness[happiness.Year==2015][['Entity', ' Life satisfaction (country average; 0-10) (Cantril Ladder (0=worst; 10=best))']]
happniess_selection.columns = ['country','satisfaction_index']

In [110]:
happniess_selection[happniess_selection.satisfaction_index.isnull()].head()

                  country  satisfaction_index
247               Algeria                 NaN
455                Angola                 NaN
598   Antigua and Barbuda                 NaN
625            Arab World                 NaN
1428              Bahamas                 NaN

Rationale for missing values. Values are missing only for the poor, undeveloped countires. Examples of them are Algeria, Angola. In the previous dataset on poverty we had only poor and hence unhappy countries (TODO: add link to research that shows that richer -> happier in general). So we're going to select all the countries that are considered poor and take their average for imputation.

In [134]:
pd.DataFrame(poor_countries).country.values[0]

' Afghanistan'

In [128]:
pd.merge(pd.DataFrame(poor_countries), happniess_selection, how='left', left_on='country',right_on='country')

                                        country  satisfaction_index
0                                   Afghanistan                 NaN
1                                       Albania                 NaN
2                                     Argentina                 NaN
3                                       Armenia                 NaN
4                                    Azerbaijan                 NaN
5                                    Bangladesh                 NaN
6                                      Barbados                 NaN
7                                       Belarus                 NaN
8                                        Belize                 NaN
9                                         Benin                 NaN
10                                       Bhutan                 NaN
11             Bolivia (Plurinational State of)                 NaN
12                       Bosnia and Herzegovina                 NaN
13                                       Brazil                 NaN
14                                 Burkina Faso                 NaN
15                                      Burundi                 NaN
16                                     Cambodia                 NaN
17                                     Cameroon                 NaN
18                     Central African Republic                 NaN
19                                         Chad                 NaN
20                                        China                 NaN
21                                     Colombia                 NaN
22                                      Comoros                 NaN
23                                        Congo                 NaN
24           Congo (Democratic Republic of the)                 NaN
25                                Côte d'Ivoire                 NaN
26                                     Djibouti                 NaN
27                           Dominican Republic                 NaN
28                                      Ecuador                 NaN
29                                        Egypt                 NaN
..                                          ...                 ...
72                                       Rwanda                 NaN
73                                  Saint Lucia                 NaN
74                        Sao Tome and Principe                 NaN
75                                      Senegal                 NaN
76                                       Serbia                 NaN
77                                 Sierra Leone                 NaN
78                                      Somalia                 NaN
79                                 South Africa                 NaN
80                                  South Sudan                 NaN
81                                        Sudan                 NaN
82                                     Suriname                 NaN
83                                    Swaziland                 NaN
84                         Syrian Arab Republic                 NaN
85                                   Tajikistan                 NaN
86                Tanzania (United Republic of)                 NaN
87                                     Thailand                 NaN
88    The former Yugoslav Republic of Macedonia                 NaN
89                                  Timor-Leste                 NaN
90                                         Togo                 NaN
91                          Trinidad and Tobago                 NaN
92                                      Tunisia                 NaN
93                                 Turkmenistan                 NaN
94                                       Uganda                 NaN
95                                      Ukraine                 NaN
96                                   Uzbekistan                 NaN
97                                      Vanuatu                 NaN
98                                     Viet Nam                 NaN
99                                        Yemen                 NaN
100                                      Zambia                 NaN
101                                    Zimbabwe                 NaN

[102 rows x 2 columns]

In [56]:
happniess_selection[happniess_selection.satisfaction_index.isnull()] = 3.5

In [57]:
happniess_selection[happniess_selection.satisfaction_index.notnull()].satisfaction_index.mean()

4.648849074869198